{
  // 编写业务代码配置方案
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "not ie <= 9"
        ]
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]

  // 编写类库配置方案
  // "plugins": [ 
  //   ["@babel/plugin-transform-runtime", {npm i
  //     "absoluteRuntime": false,
  //     "corejs": 2,
  //     "helpers": true,
  //     "regenerator": true,
  //     "useESModules": false
  //   }]
  // ]
}